<ion-view view-title="Altalaunch">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="altalaunch in altalaunchs" href="#/app/altalaunchs/{{altalaunch.id}}">
        {{altalaunch.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
