
<html>
<head>
	<title>AltaLaunch</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="/styles/grid.css">
	<link rel="stylesheet" href="/styles/style.css">
	<script src="/scripts/jqurey.js"></script>
</head>
<body>
	<div id="menu">
		<div class="container">
			<a href="http://sonnylab.com/"><div class="logosmall"></div></a>
			<ul class="menu">
				<li><a href="/views/otherPage.html">Research</a></li>		
			</ul>
		</div>
	</div>

	<center>
		<div class="article">
			<div class="grid">
				<h1>AltaLaunch</h1>
				
		</div>
	</div>
</center>
</body>

<script type="text" src="/views/js/index.js"></script>
</html>